*.vdb

*.vcd

*.vpd

*.log
ucli.key
csrc
simv.daidir
simv
vc_hdrs.h
verdi_config_file

cov_report

vdCovLog
verdiLog

*.rc


*.conf

*.fsdb

docs

*.daidir

simv_regs

simv_reg_agent

simv_ral_check
simv_ral_test
